
@{
    ViewBag.Title = "Primeiro Acesso Entidade";
}

<h2>Primeiro Acesso Entidade</h2>

<form action="/Login/GravarPrimeiroAcessoEntidade" method="post">

    <label for="nome">Descrição</label>
    <input type="text" id="nome" name="entidade.nome" class="form-control" />

    <input type="submit" value="Gravar" class="form-control" />

</form>
