
@{
    ViewBag.Title = "Primeiro Acesso Entidade";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>_Layout</title>
</head>

<h2>Primeiro Acesso Entidade</h2>

<form action="/Login/GravarPrimeiroAcessoEntidade" method="post">

    <label for="nome">Descrição</label>
    <input type="text" id="nome" name="entidade.nome" class="form-control" />

    <input type="submit" value="Gravar" class="form-control" />

</form>

</body>
</html>
