
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Categorias/Gravar" method="post">

    <label for="nome">Descrição</label>
    <input type="text" id="descricao" name="categoria.descricao" class="form-control" />

    <input type="submit" value="Gravar" class="form-control" />

</form>
