
@{
    ViewBag.Title = "Acao";
}

<h2>Acao</h2>

<form action="/Entidade/GravarAcao" method="post">

    <label for="nome">Descrição</label>

    <input type="text" id="categoria" name="acao.id" class="form-control" />

    <input type="text" id="descricao" name="acao.descricao" class="form-control" />

    <label for="categoria">Categoria</label>

    <select id="categoria" name="IdCategoria" class="form-control">
        @foreach (var categoria in ViewBag.Categorias)
        {
            <option value=@categoria.Id>@categoria.Descricao</option>
        }

    </select>

    <input type="submit" value="Gravar" class="form-control" />

</form>
