
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Liberado</th>
                <th></th>
            </tr>
            @foreach (var entidade in ViewBag.Entidades)
            {
                <tr>
                    <td>@entidade.Id</td>
                    <td>@entidade.Nome</td>
                    <td>@entidade.Liberado</td>
                    <td>@Html.ActionLink("Autorizar", "Autorizar")</td>
                </tr>
            }
        </table>
    </div>
