
@{
    ViewBag.Title = "Doar";
}

<h2>Doar</h2>

<form action="/Voluntario/GravarDoacao" method="post">

    <label for="nome">Descrição</label>

    <input type="text" id="descricao" name="doacao.descricao" class="form-control" />



    <input type="submit" value="Gravar" class="form-control" />

</form>
