
@{
    ViewBag.Title = "Voluntários";
}

<h2>Voluntários</h2>

<div class="header">
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Doar", "Doar")</li>
    </ul>
    <h1 class="text-muted">Categoria</h1>
</div>

<div>
    <table>
        <tr>
            <th>Entidade</th>
            <th>Ação</th>
            <th></th>
        </tr>
        @foreach (var acao in ViewBag.Acoes)
            {
            <tr>
                <td>@acao.IdEntidade</td>
                <td>@acao.Acao</td>
                <td>@Html.ActionLink("Aceitar", "Aceitar")</td>
            </tr>
        }
    </table>
</div>
